.listMovieContainer {
    padding: 10px;
}

.listMovieHeader {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.listMovieContainer h1 {
    margin-left: 20px;
}