.cardWrapper {
    display: inline-block;
    width: 177px;
    margin: 0 8px 20px 8px;
    background: rgba(151, 193, 84, 1);
    border: double;
    border-radius: 5px;
    color: white;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardContent h2 {
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-left: 3px;
}

.cardContent h3 {
    font-size: .8em;
    font-weight: lighter;
    color: #777;
    margin-left: 3px;
}





