.listTvShowContainer {
    padding: 10px;
}

.listTvShowHeader {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.listTvShowContainer h1 {
    margin-left: 20px;
}